    <div class="panel panel-default"
         style="background: url({{saison.bgimage}}) no-repeat; min-height:1000px; overflow: hidden; width:100%; background-size: cover">

      <div class="col-lg-3" style="padding: 0.5px 20px; margin-top:20px; margin-left:50px;margin-right:30px;">
        <div class="col-lg-10 alert-info alert" style="margin-left:35px"><h3>Habillez Lucie pour qu'elle puisse sortir dehors !</h3></div>
        <img ng-src="{{mannequin.image}}" style="min-height: 800px">
      </div>
      <div class="col-lg-8" style="padding: 0.5px 32px; margin-top:5%;">
        <div class="row" style="background-image: url('./images/armoire-bg.jpg');min-height:150px; min-width:1000px;background-size: cover">
          <strong>Sous Vêtements</strong>
          <div ng-repeat="sousvetement in sousvetements">
            <div ng-click="newUnderwear(sousvetement)" class="col-lg-2">
              <img class="affichageVetements navbar-brand" style="padding: 0.5px 32px; min-height:130px;margin-left:1em;"  ng-src="{{sousvetement.image}}">
              <div class="hidden croix-rouge redCrossPosition" id="{{sousvetement.ident}}">
                <div class="text-danger">
                  <i class="fa fa-times fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('./images/armoire-bg.jpg');min-height:150px; min-width:1000px;background-size: cover">
          <strong>Hauts</strong>
          <div ng-repeat="haut in hauts">
            <div ng-click="newShirt(haut)" class="col-lg-2">
              <img class="affichageVetements navbar-brand" style="padding: 0.5px 32px;min-height:130px;margin-left:1em;"  ng-src="{{haut.image}}">
              <div class="hidden croix-rouge redCrossPosition" id="{{haut.ident}}">
                <div class="text-danger">
                  <i class="fa fa-times fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('./images/armoire-bg.jpg');min-height:150px; min-width:1000px;background-size: cover">
          <strong>Bas</strong>
          <div ng-repeat="ba in bas">
            <div ng-click="newPants(ba)" class="col-lg-2">
              <img class="affichageVetements navbar-brand" style="padding: 0.5px 32px;min-height:130px;margin-left:1em;" ng-src="{{ba.image}}">
              <div class="hidden croix-rouge redCrossPosition" id="{{ba.ident}}">
                <div class="text-danger">
                  <i class="fa fa-times fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('./images/armoire-bg.jpg');min-height:150px; min-width:1000px;background-size: cover">
          <strong>Vestes</strong>
          <div ng-repeat="vest in vests">
            <div ng-click="newJacket(vest)" class="col-lg-2">
              <img class="affichageVetements navbar-brand" style="padding: 0.5px 32px;min-height:130px;margin-left:1em;" ng-src="{{vest.image}}">
              <div class="hidden croix-rouge redCrossPosition" id="{{vest.ident}}">
                <div class="text-danger">
                  <i class="fa fa-times fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('./images/armoire-bg.jpg');min-height:150px; min-width:1000px;background-size: cover">
          <strong>Chaussures</strong>
          <div ng-repeat="ch in chaussures">
            <div ng-click="newShoes(ch)" class="col-lg-2">
              <img class="affichageVetements navbar-brand" style="padding: 0.5px 32px;min-height:130px;margin-left:1em;" ng-src="{{ch.image}}">
              <div class="hidden croix-rouge redCrossPosition" id="{{ch.ident}}">
                <div class="text-danger">
                  <i class="fa fa-times fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('./images/armoire-bg.jpg');min-height:150px; min-width:1000px;background-size: cover">
          <strong>Accessoires</strong>
          <div ng-repeat="accessoire in accessoires">
            <div ng-click="newScarf(accessoire)" class="col-lg-2">
              <img class="affichageVetements navbar-brand" style="padding: 0.5px 32px; margin-left:1em;min-height:130px;" ng-src="{{accessoire.image}}">
              <div class="hidden croix-rouge redCrossPosition" id="{{accessoire.ident}}">
                <div class="text-danger">
                  <i class="fa fa-times fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
