<div class="row">
  <div class="col-md-offset-3 col-lg-6" style="margin-top:10%;">
    <div class="alert-info alert">
      <h1 ><strong>Choisir la saison</strong></h1>
      <h2>En quelle saison sommes-nous?</h2>
      <h3>Sélectionnez la bonne saison</h3>
    </div>
  </div>
</div>

<div class="row">
  <div ng-repeat="saison in saisons">
    <div class="col-xs-6 col-md-3">
      <a href="/#/saison/{{saison.id}}" class="thumbnail">
        <h3 class="text-capitalize text-info">{{saison.name}}</h3>
        <img ng-src="{{saison.image}}" alt="Printemps">
      </a>
    </div>
  </div>
</div>
