<!--View saison detail-->
<div class="row">
  <div class="panel panel-default">
    <div class="panel panel-default"
         style="background: url({{saison.bgimage}}) no-repeat; min-height:1050px; width:100%; background-size: cover">


    <div class="col-md-offset-3 col-lg-6" style="margin-top:18%;">
    <h1 >C'est l'{{saison.name}} !</h1>
    <h3>{{saison.des}}. </h3>
    <h3> Pour continuer, vous devez choisir si on habille un homme ou une femme : </h3>


      <div class="col-md-6" ng-repeat="mannequin in mannequins">
          <div ng-show="mannequin.teteimage" >

            <a href="/#/saison/{{saisonId}}/mannequin/{{mannequin.id}}/verifier" class="thumbnail">
              <div class="text-info"><h2>{{mannequin.name}}</h2></div>
              <img ng-src="{{mannequin.teteimage}}" alt="mannequin">
            </a>
          </div>
        </div>



    <!--
    <a class="btn btn-info" ng-href="/#/saison/{{saison.id}}/mannequin"><h3>Choisir un mannequin</h3></a>
    -->
  </div>
    </div>
  </div>
  <!--
    <div class="row">
     <div class="col-md-offset-3 col-lg-6"  style="margin-top:10%;">
       <div class="alert-info alert">
         <h1><strong>Qui habille-t-on?</strong></h1>
         <h2>Pour continuer, vous devez choisir si on habille un homme ou une femme</h2>
       </div>
     </div>
   </div>


   <div class="row">
     <div class="col-md-3"></div>
     <div ng-repeat="mannequin in mannequins">
       <div class="col-xs-6 col-md-3">
         <div ng-show="mannequin.teteimage" >
           <a href="/#/saison/{{saisonId}}/mannequin/{{mannequin.id}}/verifier" class="thumbnail">
             <div class="text-info"><h2>{{mannequin.name}}</h2></div>
             <img ng-src="{{mannequin.teteimage}}" alt="mannequin">
           </a>
         </div>
       </div>
     </div>
   </div>
   -->

   <!-- <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-body" style="position: relative;">
        <img ng-src="{{saison.bgimage}}"style="width: 100%;">
      </div>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-lg-3">    <a href="javascript:history.back()" class="btn btn-success">Retour</a>
  </div>
</div>
