<div >
  <div class="panel panel-default" style="background: url({{saison.bgimage}}) no-repeat; min-height:1050px; width:100%; background-size: cover">

    <div class="row" style="margin-top:8%">
    <div class="col-md-offset-4 col-lg-4">
      <img style="min-width: 5em;" ng-src="{{mannequin.teteimage}}">
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-lg-5">
      <div class="alert-info alert">
        <h2>Voici Lucie.</h2>

        <h3> Il fait très froid, et il faut maintenant l'habiller pour
          qu'elle puisse sortir dehors. </h3></div>
      <a href="/#/saison/{{saison.id}}/habille/{{mannequin.id}}" class="btn btn-block btn-primary">
        <h3>On commence </h3></a>

    </div>
  </div>

</div>
  <div class="row">
    <div class="col-lg-3">    <a href="javascript:history.back()" class="btn btn-success">Retour</a>
    </div>
  </div>


</div>
