<div class="panel panel-default"
     style="background-image: url({{saison.bgimage}}); min-height: 800px; background-size: contain">
  <div class="row">
    <div class="col-md-offset-2 col-lg-4">
      <img style="min-width: 5em;" ng-src="{{mannequin.teteimage}}">
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-2 col-lg-5">
      <div class="alert-info alert">
        <h2>Voici Lucie.</h2>

        <h3> Il fait très froid, et il faut maintenant l'habiller pour
          qu'elle puisse sortir dehors. </h3></div>
    </div>
  </div>
    <div class="col-md-offset-8 col-md-4 ">
      <br/><br/><br/><br/>
      <a href="/#/saison/{{saison.id}}/habille/{{mannequin.id}}" class="btn btn-block btn-primary">
        <h3>On commence </h3></a>
      <br/>
      <a href="javascript:history.back()" class="btn btn-default">Retour</a>
    </div>
</div>


